[submodule "tests/tests"]
	path = tests/tests
	url = https://github.com/ethereum/tests.git
	shallow = true
[submodule "blade-contracts"]
	path = blade-contracts
	url = https://github.com/Ethernal-Tech/blade-contracts-apex-bridge.git
[submodule "tests/evm-benchmarks"]
	path = tests/evm-benchmarks
	url = https://github.com/ipsilon/evm-benchmarks
[submodule "apex-bridge-smartcontracts"]
	path = apex-bridge-smartcontracts
	url = https://github.com/Ethernal-Tech/apex-bridge-smartcontracts.git
[submodule "cardano-smart-contracts"]
	path = cardano-smart-contracts
	url = https://github.com/Ethernal-Tech/cardano-smart-contracts
